.xlbMyInfo{
	
	p.no-bg-title{

		padding-left: 5%;
		font-size: 16px;
	}

	.listsLineWrap{

		.listLine{

			.listItem{
				.liRight{
					color:#242B33;
				}
			}
		}
	}

	
	

	.empty{

		height: p2r(40);
	}

}